<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>CalculatorWithServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Calculator</display-name>
		<servlet-name>Calculator</servlet-name>
		<servlet-class>com.calulator.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Calculator</servlet-name>
		<url-pattern>/calculator</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Addition</display-name>
		<servlet-name>Addition</servlet-name>
		<servlet-class>com.calulator.Addition</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addition</servlet-name>
		<url-pattern>/addition</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Multiplication</display-name>
		<servlet-name>Multiplication</servlet-name>
		<servlet-class>com.calulator.Multiplication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Multiplication</servlet-name>
		<url-pattern>/multiplication</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Division</display-name>
		<servlet-name>Division</servlet-name>
		<servlet-class>com.calulator.Division</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Division</servlet-name>
		<url-pattern>/division</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Subtraction</display-name>
		<servlet-name>Subtraction</servlet-name>
		<servlet-class>com.calulator.Subtraction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subtraction</servlet-name>
		<url-pattern>/subtraction</url-pattern>
	</servlet-mapping>
</web-app>